mat-sidenav {
    color: white;
    /* float: left; */
    background-color: black;
    height: 100%;
    width: 158px;
    border: 1px solid white;
}

.example-container {
    position: absolute;
    top: 53px;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}

.mat-button-toggle-appearance-standard {
    background: whitesmoke !important;
}

.menu-icon {
    z-index: 999999;
    position: fixed;
    top: 13px;
    left: 8px;
    font-size: 28px;
    color: black;
}