<mat-icon class="menu-icon" name='menu' *ngIf="showSideNavToggle" (click)="sidenav.toggle()">menu</mat-icon>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-button-toggle-group style="width:99%" name="fontStyle" aria-label="Font Style" vertical>
            <mat-button-toggle value="admin" [routerLink]="['/homepage/admin']">
                Campus</mat-button-toggle>
            <mat-button-toggle [routerLink]="['/homepage/studentdetails']" value="studentdetails">Colleges
            </mat-button-toggle>
            <!-- <mat-button-toggle value="underline">Underline</mat-button-toggle> -->
        </mat-button-toggle-group>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>