<div *ngIf="showForm == 'displayData'" class="mat-elevation-z8 report-table w3-animate-zoom">
    <table mat-table #mytable matTableExporter [dataSource]="dataSource">

        <ng-container *ngFor="let field of displayedColumns;let i = index" matColumnDef={{field}}>
            <th mat-header-cell *matHeaderCellDef>{{field}} </th>
            <td mat-cell *matCellDef="let element">

                <span *ngIf="field != 'View Details'">
                    {{element[field]}}
                </span>
                <mat-icon *ngIf="field == 'View Details'" (click)="onViewIcon(element)"
                    style="cursor: pointer;color: blue;margin-right: 8px;">
                    visibility
                </mat-icon>
                <mat-icon *ngIf="field == 'View Details'"
                    style="cursor: pointer;color:rgb(14 145 151);margin-right: 8px;" (click)="onUpdateIcon(element)">
                    update
                </mat-icon>
                <mat-icon *ngIf="field == 'View Details'" style="cursor: pointer;color: red;"
                    (click)="onDeleteIcon(element)">
                    delete
                </mat-icon>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div style="text-align: center;display: flex;justify-content: center;">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<div *ngIf="showForm == 'displayData'" style="text-align: center;margin-top: 20px;">
    <button mat-raised-button color="primary" class="login-btn" (click)="onCreate()">Create</button>
</div>


<!-- campus form -->

<div class="center-div w3-animate-zoom" *ngIf="showForm == 'showCreateForm'">
    <mat-card>
        <form *ngIf="showForm == 'showCreateForm'" class="example-form">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Campus Name</mat-label>
                <input matInput placeholder="Enter campus name" [(ngModel)]='campusName'
                    [formControl]='campusNameFormCtrl' (keyup.enter)="onCreate()" maxlength="30" required>
                <mat-error *ngIf="campusNameFormCtrl.invalid">{{"Please enter campus name"}}</mat-error>
            </mat-form-field>
        </form>
        <div *ngIf="showForm == 'showCreateForm'" style="text-align: center;">
            <button mat-raised-button color="primary" style="margin-right: 8px;" class="login-btn"
                (click)='onAdd()'>Add</button>
            <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
        </div>
    </mat-card>
</div>

<!-- show update form -->
<div class="center-div w3-animate-zoom" *ngIf="showForm == 'showUpdateForm'||showForm=='showViewForm'">
    <mat-card>
        <form *ngIf="showForm == 'showUpdateForm'||showForm=='showViewForm'" class="example-form">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Campus Name</mat-label>
                <input matInput placeholder="Enter campus name" [(ngModel)]='campusName'
                    [formControl]='campusNameFormCtrl' (keyup.enter)="onCreate()" maxlength="30"
                    [readonly]="showForm=='showViewForm'" required>
                <mat-error *ngIf="campusNameFormCtrl.invalid">{{"Please enter campus name"}}</mat-error>
            </mat-form-field>
        </form>
        <div *ngIf="showForm == 'showUpdateForm'||showForm == 'showViewForm'" style="text-align: center;">
            <button *ngIf="showForm == 'showUpdateForm'" mat-raised-button color="primary" style="margin-right: 8px;"
                class="login-btn" (click)='onUpdate()'>Update</button>
            <button *ngIf="showForm == 'showUpdateForm'||showForm == 'showViewForm'" mat-raised-button color="primary"
                (click)="onCancel()">Cancel</button>
        </div>
    </mat-card>
</div>