table {
    width: 100%;
}

.report-table {
    max-width: 96%;
    overflow-x: auto;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 28px; */
    margin-top: 10px;
    /* border: solid grey; */
    border-radius: 8px;
    box-shadow: 0px 2px 17px 3px rgba(23, 117, 113, 0.57), 0px 1px 1px 0px rgba(9, 180, 53, 0.93), 3px 1px 3px 0px rgba(7, 221, 43, 0.7);
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    font-weight: 500;
}