<div class="center-div">
    <mat-card>

        <div class="login-card-header w3-animate-zoom">
            <img src="assets/logo_login.jpg" alt="" height="55px">
            <span class="title">ANGTESTPRO</span>
        </div>

        <form class="example-form">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter your username" [(ngModel)]='login_req.userName' [formControl]='email'
                    (keyup.enter)="onLogin()" maxlength="30" required>
                <mat-hint>use test as username</mat-hint>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" type="password" [(ngModel)]='login_req.password'
                    (keyup.enter)="onLogin()" [formControl]='password' maxlength="30" required>
                <mat-hint>use test as password</mat-hint>
                <mat-error *ngIf="password.invalid">{{getPassword_ErrorMessage()}}</mat-error>
            </mat-form-field>
        </form>
        <div style="text-align: center;">
            <button mat-raised-button color="primary" class="login-btn" (click)='onLogin()'>Login</button>
            <button mat-raised-button color="primary" (click)="onClear()">Clear</button>
        </div>
    </mat-card>
</div>