.example-form {
    /* min-width: 150px; */
    /* max-width: 500px; */
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.image-box__overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    z-index: 2;
}

.login-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.login-card-header .title {
    color: blue;
    font-family: algerian;
    padding-left: 13px;
    font-size: x-large;
    font-weight: 600;
}

.login-btn {
    margin-right: 2%;
}

.mat-card:not([class*=mat-elevation-z]) {
    /* box-shadow: 0px 2px 17px 3px rgba(23, 117, 113, 0.57), 0px 1px 1px 0px rgba(9, 180, 53, 0.93), 3px 1px 3px 0px rgba(7, 221, 43, 0.7); */
    border-radius: 10px;
    border: none;
}

.mat-raised-button {
    line-height: 30px;
}

/* .client-logo-parent-div {
    text-align: center;
    padding-top: 4%;
}

.client-logo {
    border: 1px solid darkgrey;
    display: inline-block;
    height: 5%;
    border-radius: 20px;
    color: grey;
    padding: 23px;
} */

/* Media Queries

    @media screen and (max-width: 768px) {
        .master-div {
            width: 60%;
        }
    }

    @media screen and (max-width: 425px) {
        .master-div {
            width: 80%;
        }
    }

    @media screen and (max-width: 375px) {
        .master-div {
            width: 90%;
        }
    }

    @media screen and (max-width: 320px) {
        .master-div {
            width: 94%;
        }
    } */