<div>
  <mat-toolbar class="w3-animate-top toolBarCustom" style="position: fixed;z-index: 999;" *ngIf="showSignout">
    <h4>
      <mat-icon style="font-size: 33px;line-height: 1.5;padding-left: 21px;">font_download</mat-icon>
    </h4>
    <h4>AngTestPro</h4>
    <h6 *ngIf="showSignout" (click)="onSignout()" style="cursor: pointer;
    background: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    font-size: 14px;">Signout</h6>
  </mat-toolbar>
</div>

<div>
  <router-outlet></router-outlet>
</div>