<div *ngIf="dailogData && dailogData.type=='alert'">
    <div mat-dialog-title>
        <mat-icon class="cancel-icon" style="font-size:37px;margin-right:25px;color: #000000;">check</mat-icon>
        {{dailogData.message}}
    </div>
    <mat-icon class="cancel-icon" *ngIf="dailogData.okBtnText"
        style="position: absolute;top: 1px;right: 3px;font-size: 24px;color: #10b7de;cursor: pointer;"
        (click)="onDailogActionBtn(dailogData.okBtnText)">cancel</mat-icon>
    <div mat-dialog-actions style="justify-content: center;">
        <button style="line-height: 25px;" *ngIf="dailogData.cancelBtnText" mat-raised-button color="primary"
            (click)="onDailogActionBtn(dailogData.cancelBtnText)">{{dailogData.cancelBtnText}}</button>
        <button *ngIf="dailogData.okBtnText" style="line-height: 25px;" mat-raised-button color="primary"
            (click)="onDailogActionBtn(dailogData.okBtnText)">{{dailogData.okBtnText}}</button>
    </div>
</div>


<div *ngIf="dailogData && (dailogData.type=='confirm'||dailogData.type=='change'||dailogData.type=='change1')">
    <div mat-dialog-title>
        <mat-icon style="font-size:37px;margin-right:25px;color: #000000;">report_problem</mat-icon>
        {{dailogData.message}}
    </div>
    <mat-icon class="cancel-icon"
        style="position: absolute;top: 1px;right: 3px;font-size: 24px;color: #10b7de;cursor: pointer;"
        (click)="onDailogActionBtn(dailogData.cancelBtnText)">cancel</mat-icon>
    <div mat-dialog-actions style="justify-content: center;">
        <button style="line-height: 25px;" *ngIf="dailogData.cancelBtnText" mat-raised-button color="primary"
            (click)="onDailogActionBtn(dailogData.cancelBtnText)">{{dailogData.cancelBtnText}}</button>
        <button *ngIf="dailogData.secondOkBtnText" style="line-height: 25px;" mat-raised-button color="primary"
            (click)="onDailogActionBtn(dailogData.secondOkBtnText)">{{dailogData.secondOkBtnText}}</button>
        <button *ngIf="dailogData.okBtnText" style="line-height: 25px;" mat-raised-button color="primary"
            (click)="onDailogActionBtn(dailogData.okBtnText)">{{dailogData.okBtnText}}</button>
    </div>
</div>