/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
    background-color: #97aac2;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 53px !important;
    justify-content: flex-end;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 2px 0px 12px 3px rgba(0, 0, 0, 0.2), 2px 1px 1px 0px rgba(0, 0, 0, 0.14), 3px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

mat-sidenav[_ngcontent-erc-c109] {
    width: 158px !important;
}

.center-div {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .center-div {
        width: 60%;
    }
}

@media screen and (max-width: 425px) {
    .center-div {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .center-div {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .center-div {
        width: 94%;
    }
}